<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habitica - Welcome!</title>
    <link rel="stylesheet" href="css/loginsignup.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="heading-container">
            <h1>Stay Consistent.<br>Forever.</h1>
        </div>
        <div class="login-container">
            <h2>Log In to Habitica</h2>
            <!-- Error Messages -->
            <% if (messages.error && messages.error.length > 0) { %>
                <div class="error-container">
                    <% messages.error.forEach(function(error) { %>
                        <p><%= error %></p>
                    <% }); %>
                </div>
            <% } %>

            <!-- Success Messages -->
            <% if (messages.success && messages.success.length > 0) { %>
                <div class="success-container">
                    <% messages.success.forEach(function(success) { %>
                        <p><%= success %></p>
                    <% }); %>
                </div>
            <% } %>
            <form action="/login" method="POST">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <a href="/forgot-password">Forgot Password?</a>
                </div>
                <div class="g-recaptcha" data-sitekey="<%= sitekey %>"></div>
                <button type="submit">Login</button>
            </form>
            <div class="signup-link">
                <p>No account yet? <a href="/signup">Sign up</a></p>
            </div>
        </div>
    </div>
</body>
</html>
