<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habitica - Forgot Password?</title>
    <link rel="stylesheet" href="css/loginsignup.css">
</head>
<body>
    
    <div class="login-container">
        <h2>An email has been sent for your password reset.</h2>
        <div class="signup-link">
            <p>Please access the link on the email to be redirected to a password reset page</p>
        </div>
        <div class="signup-link">
            <p> <a href="/login">Go back to the Log In Page</a></p>
        </div>
    </div>
</body>
</html>
