<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habitica - Reset Password</title>
    <link rel="stylesheet" href="css/loginsignup.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
    
    <div class="login-container">
        <h2>Reset Password</h2>
        <form action="/change-password" method="POST">
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required>
            </div>
            <button type="submit">Reset Password</button>
        </form>
    </div>
</body>
</html>
