/* public/css/loginsignup.css */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #4e89ae, #43658b);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.error-container {
    background-color: #f8d7da; /* Light red background */
    color: #721c24; /* Dark red text color */
    border: 1px solid #f5c6cb; /* Red border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px; /* Padding inside the box */
    margin-bottom: 10px; /* Bottom margin for spacing */
}

.success-container {
    background-color: #d4edda; /* Light green background */
    color: #155724; /* Dark green text color */
    border: 1px solid #c3e6cb; /* Green border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px; /* Padding inside the box */
    margin-bottom: 10px; /* Bottom margin for spacing */
}

.login-container,
.signup-container {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for form containers */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-container h2,
.signup-container h2 {
    margin-bottom: 20px;
    color: #333333;
}

.login-container p,
.signup-container p {
    margin-bottom: 20px;
    color: #333333;
}

.login-container a,
.signup-container a {
    margin-bottom: 20px;
    color: #43658b;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    color: #666666;
}

.form-group input {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

button {
    background-color: #43658b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #4e89ae;
}

.login-link,
.signup-link {
    margin-top: 10px;
}

.login-link a,
.signup-link a {
    color: #43658b;
}
